a {
    text-decoration: none;
    color: inherit;
}

#container-cards {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, 250px);
    /* grid-auto-rows: 400px; */
    gap: 1rem;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    align-content: start;
    padding: 1rem;
}

.card {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

.card:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.card div {
    padding: 0.5rem;
}

.card h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}