a {
    text-decoration: none;
    color: inherit;
}

#container-cards {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, 250px);
    /* grid-auto-rows: 400px; */
    gap: 1rem;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    align-content: start;
    padding: 1rem;
}