:root {
    /* BACKGROUND */
    --bg: #0a0a0a;
    --surface: rgba(255,255,255,0.05);
    --border: rgba(255,255,255,0.1);

    /* TEXT */
    --text: #ffffff;
    --muted: rgba(255,255,255,0.7);

    /* PRIMARY */
    --primary: #0070f3;
}

/* LIGHT MODE */
body.light {
    --bg: #ffffff;
    --surface: #f3f4f6;
    --border: #e5e7eb;

    --text: #0a0a0a;
    --muted: #4b5563;
}

/* APPLY BASE */
body {
    background: var(--bg);
    color: var(--text);
}

.theme-toggle {
    position: fixed;
    bottom: 80px;
    right: 20px;

    width: 55px;
    height: 55px;

    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.2);

    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 20px;

    cursor: pointer;

    z-index: 999;

    transition: all 0.2s ease;
}

.theme-toggle:hover {
    transform: scale(1.1);
}