---
// astro
// third
// own
import Layout from "@/layouts/Layout.astro";
// code
---
<Layout title="Carrito de compras" description="Aquí se mostrarán los productos que has agregado a tu carrito.">
    <!-- Carrito de Compras Responsive con texto blanco y fondos transparentes -->
    <div id="cart-list" class="max-w-5xl mx-auto p-4">
        
    </div>
</Layout>

<script type="module" src="/src/scripts/cart-page.js"></script>