---
// astro
// third
// own
import "@/styles/btn-add-product-cart.css";
// code
const { product, productId } = Astro.props;
---

<div
    class="flex flex-col gap-3 p-3 rounded-xl border border-(--border) bg-(--surface)"
    data-cart-item
    data-id={productId}
    data-product={JSON.stringify(product)}
>

    <!-- ADD -->
    <button
        data-action="add"
        class="w-full py-2 rounded-lg border border-(--border) text-(--text) hover:bg-(--surface) transition font-medium"
    >
        Agregar al carrito
    </button>

    <!-- CONTROLS -->
    <div data-controls class="hidden items-center justify-between gap-2">

        <button
            data-action="minus"
            class="w-10 h-10 rounded-lg border border-(--border) text-(--text)"
        >
            -
        </button>

        <input
            type="number"
            value="1"
            min="1"
            disabled
            class="w-16 text-center bg-transparent border border-(--border) text-(--text) rounded-lg py-1"
        />

        <button
            data-action="plus"
            class="w-10 h-10 rounded-lg border border-(--border) text-(--text)"
        >
            +
        </button>

    </div>

</div>

<script type="module" src="/scripts/cart.js"></script>