---
// astro
// third
// own
import "@/styles/btn-add-product-cart.css";
// code
const { product, productId } = Astro.props;
---

<div class="product-btns" data-id={productId} data-product={JSON.stringify(product)}>
	<!-- Add to Cart -->
	<button class="btn-add-cart">Agregar al carrito</button>
	<!-- Cantidad -->
	<div class="btns-and-input">
		<button class="btn-cart-remove">-</button>
		<input type="number" value="1" min="1" disabled />
		<button class="btn-cart-add">+</button>
	</div>
</div>

<script type="module" src="/scripts/cart.js"></script>