---
// astro
// third
// own
// code
const { product, productId } = Astro.props;
---

<div class="product-btns" data-id={productId} data-product={JSON.stringify(product)}>
	<!-- Add to Cart -->
	<button class="btn-add-cart">Agregar al carrito</button>
	<!-- Cantidad -->
	<div class="btns-and-input">
		<button class="btn-cart-remove">-</button>
		<input type="number" value="1" min="1" disabled />
		<button class="btn-cart-add">+</button>
	</div>
</div>

<script type="module" src="/src/scripts/cart.js"></script>

<style>
    .btn-add-cart {
		background-color: var(--color-primary);
		color: var(--color-text-mode-dark);
		border: none;
		padding: 0.5rem 1rem;
		border-radius: 8px;
		cursor: pointer;
		width: 100%;
	}

	.btn-add-cart:hover {
		background-color: transparent;
		color: var(--color-text-mode-dark);
		border: 1px solid var(--color-primary);
		transition: all 0.3s ease;
	}

    .btns-and-input {
        display: flex;
    }

    .btn-cart-add {
		background-color: var(--color-primary);
		color: var(--color-text-mode-dark);
		border: none;
		padding: 0.5rem 1rem;
		border-radius: 0 8px 8px 0;
		cursor: pointer;
		width: 100%;
        flex: 1;
	}

	.btn-cart-add:hover {
		background-color: transparent;
		color: var(--color-text-mode-dark);
		border: 1px solid var(--color-primary);
		transition: all 0.3s ease;
	}

    .btns-and-input input {
        flex: 10;
        width: 50px;
        text-align: center;
        border: 1px solid var(--color-primary);
        padding: 0.5rem;
    }

    .btn-cart-remove {
		background-color: var(--color-primary);
		color: var(--color-text-mode-dark);
		border: none;
		padding: 0.5rem 1rem;
        border-radius: 8px 0 0 8px;
		cursor: pointer;
		width: 100%;
        flex: 1;
	}

	.btn-cart-remove:hover {
		background-color: transparent;
		color: var(--color-text-mode-dark);
		border: 1px solid var(--color-primary);
		transition: all 0.3s ease;
	}
</style>