<footer>
	<p>&copy; 2026 Servicesall. Todos los derechos reservados.</p>
</footer>

<style>
    footer {
        text-align: center;
        padding: 1rem;
        background-color: var(--color-background-mode-light);
        opacity: 0.8;
        backdrop-filter: blur(10px);
    }
    footer p {
        color: var(--color-text-mode-light);
        margin: 0;
    }
</style>