---
// astro
// third
// own
import "@/styles/header.css";
// code
---

<nav>
    <div class="nav-container">
        <a href="/" class="logo text-black">
            <!-- <img src="/favicon.png" alt="logo" class="logo-img" /> -->
            <p class="text-black text-2x1 font-bold">Servicesall</p>
        </a>

        <!-- botón hamburguesa -->
        <button id="menu-btn" aria-label="Abrir menú">
            ☰
        </button>

        <!-- menú -->
        <div id="menu" class="menu">
            <a href="/">Inicio</a>
            <a href="/products">Productos</a>
            <a href="/cart">Carrito</a>
            <a href="/about">Sobre nosotros</a>
            <a href="/privacy">Privacidad</a>
            <a href="/terms">Terminos</a>
        </div>
    </div>
</nav>

<script type="module" src="/scripts/menu.js"></script>
