---
// astro
// third
// own
import "@/styles/header.css";
// code
---

<nav>
    <div class="nav-container">
        <a href="/" class="logo text-black">
            <img src="/favicon.png" alt="logo" class="logo-img" />
        </a>

        <!-- botón hamburguesa -->
        <button id="menu-btn" aria-label="Abrir menú">
            ☰
        </button>

        <!-- menú -->
        <div id="menu" class="menu">
            <a href="/">Inicio</a>
            <a href="/cart">Carrito</a>
            <!-- <a href="#">About</a>
            <a href="#">Contacto</a> -->
        </div>
    </div>
</nav>

<script type="module" src="/scripts/menu.js"></script>
