<nav>
	<a href="/">Inicio</a>
</nav>

<style>
    nav {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--color-background-mode-light);
        opacity: 0.8;
        backdrop-filter: blur(10px);
        justify-content: center;
        align-content: center;
    }
    nav a {
        color: var(--color-text-mode-light);
        text-decoration: none;
        font-weight: bold;
        justify-content: center;
    }
</style>