---
import type { GetStaticPaths } from "astro";
import { map } from "astro:schema";

// astro
// third
// own
// code
const nums = [1, 2, 3, 4, 5, 6, 7, 8, 9];
---

<div id="container">
	{
		nums.map((num) => (
			<div class="card">
				<a href={`/product/${num}`}>
					<img src="https://imgs.search.brave.com/Z5hOlL5ZOHKK6v2htN1Pl7i3X_pKeNkpUOBLXA9Z5Pc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbXNw/cm9kdWN0cy5jb20v/Y2RuL3Nob3AvZmls/ZXMvMjE4MzUxXzQ4/MHg0ODAuanBnP3Y9/MTcyMjk3MjYyOA" alt={`Product ${num}`} />
				</a>
				<div>
					<h3>{`Product ${num}`}</h3>
					<p>{`Descripción del producto ${num}.`}</p>
					<p>{`Precio: $XX.XX`}</p>
					<button class="btn-add-cart">Agregar al carrito</button>
				</div>
			</div>
		))
	}
</div>

<style>
	a {
		text-decoration: none;
		color: inherit;
	}

    #container {
        display: grid;
		place-items: center;
		grid-template-columns: repeat(auto-fill, 250px);
		grid-auto-rows: 400px;
		gap: 1rem;
		justify-content: center;
		align-items: stretch;
		justify-items: stretch;
		align-content: start;
		padding: 1rem;
    }

	.card {
		box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}

	.card:hover {
		box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
		/* transform: translateY(-5px);
		transition: all 0.3s ease; */
	}

	.card img {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 8px;
	}

	.card div {
		padding: 0.5rem;
	}

	.card h3 {
		margin: 0;
		padding: 0;
	}

	.btn-add-cart {
		background-color: var(--color-primary);
		color: var(--color-text-mode-dark);
		border: none;
		padding: 0.5rem 1rem;
		border-radius: 8px;
		cursor: pointer;
		width: 100%;
	}

	.btn-add-cart:hover {
		background-color: transparent;
		color: var(--color-text-mode-dark);
		border: 1px solid var(--color-primary);
		transition: all 0.3s ease;
	}
</style>