---
// astro
// third
// own
// code
---
<main class="privacy p-2">

	<h1>Política de Privacidad</h1>

	<section>
		<h2>Información general</h2>
		<p>
		Este sitio no almacena datos personales sensibles.
		</p>
	</section>

	<section>
		<h2>Uso de información</h2>
		<p>
		Solo se utiliza para responder consultas o pedidos.
		</p>
	</section>

	<section>
		<h2>Datos de contacto</h2>
		<p>
		Puedes contactarnos mediante WhatsApp o correo electrónico.
		</p>
	</section>

</main>