---
// astro
import { getCollection } from 'astro:content';
// third
// own
// code
const products = await getCollection('products');
---
<div class="flex md:flex-row gap-4 p-4 justify-center items-center">
    <input
        id="search"
        type="text"
        placeholder="Buscar producto..."
        class="w-full md:w-80 px-4 py-2 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
    />

    <select
        id="category"
        class="w-full md:w-60 px-4 py-2 rounded-xl border border-gray-300 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
        <option value="all">Todas las categorías</option>
        <option value="tech">Tech</option>
        <option value="clothing">Ropa</option>
        <option value="home">Hogar</option>
    </select>
</div>