---
// astro
import { getCollection } from 'astro:content';
// third
// own
// code
const products = await getCollection('products');
---
<div class="px-4 flex flex-col gap-3">

    <!-- SEARCH -->
    <div
        class="flex items-center w-full mt-3 rounded-xl
            border border-(--border)
            bg-(--surface)
            overflow-hidden"
    >

        <input
            id="search"
            type="text"
            placeholder="Buscar producto..."
            class="flex-1 min-w-0 px-4 py-2
                bg-transparent
                text-(--text)
                placeholder-(--muted)
                focus:outline-none"
        />

        <!-- CLEAR -->
        <button
            id="clear-search"
            type="button"
            class="hidden shrink-0 w-11 h-11 items-center justify-center
                border-l border-(--border)
                text-(--text)
                hover:bg-(--text) hover:text-(--bg)
                transition text-2xl"
        >
            ✕
        </button>

    </div>

    <h2 class="text-xl md:text-2xl font-bold text-(--text) pl-1">
        Filtros
    </h2>

    <!-- CATEGORIES -->
    <div
        id="categories"
        class="flex gap-3 mt-2 overflow-x-auto whitespace-nowrap px-2 scrollbar-hide"
    >

        <!-- ALL -->
        <button
            data-category="__all__"
            class="category-btn px-4 py-1 rounded-full border border-(--border)
                text-(--text) bg-(--surface)
                hover:bg-(--surface)
                transition"
        >
            Todos
        </button>

        {
            [...new Set(products.map(p => p.data.category))].map(category => (
                <button
                    data-category={category}
                    class="category-btn px-4 py-1 rounded-full border border-(--border)
                        text-(--text) bg-(--surface)
                        hover:bg-(--surface)
                        transition"
                >
                    {category}
                </button>
            ))
        }

    </div>

</div>

<script type="module" src="/scripts/filters.js"></script>