---
// astro
// third
// own
// code
---
<main class="terms p-2">

	<h1>Términos y Condiciones</h1>

	<section>
		<h2>Uso del sitio</h2>
		<p>
		Este sitio funciona como catálogo informativo de productos.
		</p>
	</section>

	<section>
		<h2>Compras</h2>
		<p>
		Las compras se gestionan directamente por WhatsApp o contacto externo.
		</p>
	</section>

	<section>
		<h2>Disponibilidad</h2>
		<p>
		Los productos pueden cambiar sin previo aviso.
		</p>
	</section>

	<section>
		<h2>Responsabilidad</h2>
		<p>
		No nos responsabilizamos por mal uso de la información o productos.
		</p>
	</section>

</main>